*{
    padding: 1px;
    margin: 0px;
}
body{
    background-image: linear-gradient(to right,lightgrey,rgb(141, 141, 141),lightgrey);
    height: 653px;
}
#corpo{
    text-align: center;
    padding-top: 180px;
    border-image: url(https://www.sonner.com.br/assets/images/favicon.ico) 36.4px;
}
button{
    height: 50px;
    width: 50px;
    padding: 10px 10px;
    background-color: black;
    color: aliceblue;
    border: 3px solid green;
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
}button:hover{
    background-color: rgba(0, 0, 0, 0.500);
    color: rgb(0, 0, 255);
}
#blimpar{
    height: 50px;
    width: 105px;
    background-color: black;
    color: aliceblue;
    border: 3px solid green;
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
}
#blimpar:hover{
    background-color: rgba(0, 0, 0, 0.500);
    color: rgb(0, 0, 255);
}
#bapagar{
    height: 50px;
    width: 105px;
    background-color: black;
    color: aliceblue;
    border: 3px solid green;
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
}
#bapagar:hover{
    background-color: rgba(0, 0, 0, 0.500);
    color: rgb(0, 0, 255);
}
#tela{
    height: 50px;
    width: 204px;
    background-color: black;
    color: aliceblue;
    border: 3px solid green;
    font-size: larger;
    font-weight: bold;
    align-content: right;
    display: inline-block;
    padding-top: 10px;
    border-radius: 10px;


    display: none;

    
}
.linha{
    background-image: url(https://www.sonner.com.br/assets/images/favicon.ico);
    height: 46.4px;
}
#resultado{
    height: 50px;
    width: 204px;
    background-color: black;
    color: aliceblue;
    border: 3px solid green;
    font-size: larger;
    font-weight: bold;
    align-content: right;
    display: inline-block;
    padding-top: 10px;
    border-radius: 10px;
}
#sla{
    display: none;
}
